/* orange header*/
#bar{
	background-color: orange;
	color: white;
	
}

#top{
	margin-left: 30px;
	
}

#top1{
	text-align:right;
	margin-right: 20px;
	float: right;
}

nav{
	
}
/* HEADER */

#title{
	text-align: center;
	margin-top: 90px;
	color: orange;
}

#title1{
	text-align: center;
	margin-top: 20px;
}

.btn{
	 border: 1px solid orange;
	 
}

.btn-warning{
	background-color:orange;
	color: white;
	margin-left: 50px; 
}

/* IMAGES */

body{
	background-color: white;
	font-family: 'open Sans' , sans-serif;
	color: black;
}




/**************/

footer{
	font-size: 0.75em;
	text-align: left;
	padding-top: 20px;
	color: black;
	margin-top: 200px;
	
}
